adjustText==1.2.0
alabaster @ file:///home/conda/feedstock_root/build_artifacts/alabaster_1722035799745/work
anyio @ file:///home/conda/feedstock_root/build_artifacts/anyio_1717693030552/work
argon2-cffi @ file:///home/conda/feedstock_root/build_artifacts/argon2-cffi_1692818318753/work
argon2-cffi-bindings @ file:///work/perseverance-python-buildout/croot/argon2-cffi-bindings_1698877183685/work
arrow @ file:///home/conda/feedstock_root/build_artifacts/arrow_1696128962909/work
astroid @ file:///home/conda/feedstock_root/build_artifacts/astroid_1721516183269/work
asttokens @ file:///home/conda/feedstock_root/build_artifacts/asttokens_1698341106958/work
async-lru @ file:///work/perseverance-python-buildout/croot/async-lru_1701732681408/work
atomicwrites @ file:///home/conda/feedstock_root/build_artifacts/atomicwrites_1657325823582/work
attrs @ file:///home/conda/feedstock_root/build_artifacts/attrs_1722977137225/work
autopep8 @ file:///croot/autopep8_1708962882016/work
Babel @ file:///home/conda/feedstock_root/build_artifacts/babel_1702422572539/work
backports.tarfile @ file:///home/conda/feedstock_root/build_artifacts/backports.tarfile_1712700614056/work
beautifulsoup4 @ file:///croot/beautifulsoup4-split_1718029820055/work
binaryornot @ file:///tmp/build/80754af9/binaryornot_1617751525010/work
biom-format==2.1.16
black @ file:///home/conda/feedstock_root/build_artifacts/black-recipe_1723488904966/work
bleach @ file:///home/conda/feedstock_root/build_artifacts/bleach_1696630167146/work
Bottleneck @ file:///croot/bottleneck_1709069899917/work
Brotli @ file:///home/conda/feedstock_root/build_artifacts/brotli-split_1695989787169/work
cached-property @ file:///tmp/build/80754af9/cached-property_1600785575025/work
certifi @ file:///croot/certifi_1720453481653/work/certifi
cffi @ file:///home/conda/feedstock_root/build_artifacts/cffi_1723018375539/work
chardet @ file:///home/conda/feedstock_root/build_artifacts/chardet_1695468619093/work
charset-normalizer @ file:///croot/charset-normalizer_1721748349566/work
click @ file:///work/perseverance-python-buildout/croot/click_1698845879718/work
cloudpickle @ file:///croot/cloudpickle_1721657346512/work
colorama @ file:///work/perseverance-python-buildout/croot/colorama_1698847155966/work
comm @ file:///home/conda/feedstock_root/build_artifacts/comm_1710320294760/work
contourpy @ file:///home/conda/feedstock_root/build_artifacts/contourpy_1712429918028/work
cookiecutter @ file:///croot/cookiecutter_1711059812130/work
cryptography @ file:///croot/cryptography_1724940562255/work
cycler @ file:///home/conda/feedstock_root/build_artifacts/cycler_1696677705766/work
Cython @ file:///home/conda/feedstock_root/build_artifacts/cython_1722872327612/work
debugpy @ file:///home/conda/feedstock_root/build_artifacts/debugpy_1722923741382/work
decorator @ file:///opt/conda/conda-bld/decorator_1643638310831/work
defusedxml @ file:///tmp/build/80754af9/defusedxml_1615228127516/work
diff-match-patch @ file:///home/conda/feedstock_root/build_artifacts/diff-match-patch_1683670697993/work
dill @ file:///croot/dill_1715094664823/work
docstring-to-markdown @ file:///home/conda/feedstock_root/build_artifacts/docstring-to-markdown_1708563025188/work
docutils @ file:///home/conda/feedstock_root/build_artifacts/docutils_1713930378730/work
entrypoints @ file:///work/perseverance-python-buildout/croot/entrypoints_1698864391933/work
et-xmlfile @ file:///work/perseverance-python-buildout/croot/et_xmlfile_1698868193149/work
exceptiongroup @ file:///home/conda/feedstock_root/build_artifacts/exceptiongroup_1720869315914/work
executing @ file:///home/conda/feedstock_root/build_artifacts/executing_1698579936712/work
fastjsonschema @ file:///home/conda/feedstock_root/build_artifacts/python-fastjsonschema_1718477020893/work/dist
flake8 @ file:///croot/flake8_1708965256870/work
fonttools @ file:///home/conda/feedstock_root/build_artifacts/fonttools_1720359030700/work
fqdn @ file:///home/conda/feedstock_root/build_artifacts/fqdn_1638810296540/work/dist
gmpy2 @ file:///home/conda/feedstock_root/build_artifacts/gmpy2_1715527293187/work
h11 @ file:///croot/h11_1706652277403/work
h2 @ file:///home/conda/feedstock_root/build_artifacts/h2_1634280454336/work
h5py==3.11.0
hpack==4.0.0
httpcore @ file:///home/conda/feedstock_root/build_artifacts/httpcore_1711596990900/work
httpx @ file:///croot/httpx_1723474802858/work
hyperframe==6.0.1
idna @ file:///home/conda/feedstock_root/build_artifacts/idna_1724450538981/work
imagesize @ file:///work/perseverance-python-buildout/croot/imagesize_1698864514488/work
importlib_metadata @ file:///home/conda/feedstock_root/build_artifacts/importlib-metadata_1724187233579/work
importlib_resources @ file:///home/conda/feedstock_root/build_artifacts/importlib_resources_1724314645569/work
inflection @ file:///work/perseverance-python-buildout/croot/inflection_1698869084799/work
iniconfig==2.0.0
intervaltree @ file:///Users/ktietz/demo/mc3/conda-bld/intervaltree_1630511889664/work
ipykernel @ file:///home/conda/feedstock_root/build_artifacts/ipykernel_1719845459717/work
ipython @ file:///home/conda/feedstock_root/build_artifacts/ipython_1719582526268/work
isoduration @ file:///home/conda/feedstock_root/build_artifacts/isoduration_1638811571363/work/dist
isort @ file:///croot/isort_1718289883491/work
jaraco.classes @ file:///home/conda/feedstock_root/build_artifacts/jaraco.classes_1713939306738/work
jaraco.context @ file:///home/conda/feedstock_root/build_artifacts/jaraco.context_1714372187587/work
jaraco.functools @ file:///home/conda/feedstock_root/build_artifacts/jaraco.functools_1701695162614/work
jedi @ file:///croot/jedi_1721058342488/work
jeepney @ file:///home/conda/feedstock_root/build_artifacts/jeepney_1649085214306/work
jellyfish @ file:///home/conda/feedstock_root/build_artifacts/jellyfish_1722370552448/work
Jinja2 @ file:///croot/jinja2_1716993405101/work
joblib==1.4.2
json5 @ file:///home/conda/feedstock_root/build_artifacts/json5_1712986206667/work
jsonpointer @ file:///home/conda/feedstock_root/build_artifacts/jsonpointer_1718283396480/work
jsonschema @ file:///home/conda/feedstock_root/build_artifacts/jsonschema_1720529478715/work
jsonschema-specifications @ file:///tmp/tmpkv1z7p57/src
jupyter-events @ file:///croot/jupyter_events_1718738097486/work
jupyter-lsp @ file:///home/conda/feedstock_root/build_artifacts/jupyter-lsp-meta_1712707420468/work/jupyter-lsp
jupyter_client @ file:///home/conda/feedstock_root/build_artifacts/jupyter_client_1716472197302/work
jupyter_core @ file:///croot/jupyter_core_1718818295206/work
jupyter_server @ file:///home/conda/feedstock_root/build_artifacts/jupyter_server_1720816649297/work
jupyter_server_terminals @ file:///home/conda/feedstock_root/build_artifacts/jupyter_server_terminals_1710262634903/work
jupyterlab @ file:///home/conda/feedstock_root/build_artifacts/jupyterlab_1724745148804/work
jupyterlab_pygments @ file:///home/conda/feedstock_root/build_artifacts/jupyterlab_pygments_1707149102966/work
jupyterlab_server @ file:///home/conda/feedstock_root/build_artifacts/jupyterlab_server-split_1721163288448/work
keyring @ file:///home/conda/feedstock_root/build_artifacts/keyring_1722727229763/work
kiwisolver @ file:///home/conda/feedstock_root/build_artifacts/kiwisolver_1695379925569/work
markdown-it-py @ file:///home/conda/feedstock_root/build_artifacts/markdown-it-py_1686175045316/work
MarkupSafe @ file:///home/conda/feedstock_root/build_artifacts/markupsafe_1706899920239/work
matplotlib==3.9.2
matplotlib-inline @ file:///home/conda/feedstock_root/build_artifacts/matplotlib-inline_1713250518406/work
mccabe @ file:///opt/conda/conda-bld/mccabe_1644221741721/work
mdurl @ file:///home/conda/feedstock_root/build_artifacts/mdurl_1704317613764/work
mibipret @ file:///home/alraune/GitHub/MiBiPreT/mibipret
mistune @ file:///home/conda/feedstock_root/build_artifacts/mistune_1698947099619/work
more-itertools @ file:///home/conda/feedstock_root/build_artifacts/more-itertools_1723055497457/work
mpmath @ file:///work/perseverance-python-buildout/croot/mpmath_1698864994882/work
munkres==1.1.4
mypy-extensions @ file:///work/perseverance-python-buildout/croot/mypy_extensions_1698863276135/work
natsort==8.4.0
nbclient @ file:///home/conda/feedstock_root/build_artifacts/nbclient_1710317608672/work
nbconvert @ file:///home/conda/feedstock_root/build_artifacts/nbconvert-meta_1718135430380/work
nbformat @ file:///home/conda/feedstock_root/build_artifacts/nbformat_1712238998817/work
nest-asyncio @ file:///croot/nest-asyncio_1708532673751/work
notebook @ file:///home/conda/feedstock_root/build_artifacts/notebook_1717767745914/work
notebook_shim @ file:///home/conda/feedstock_root/build_artifacts/notebook-shim_1707957777232/work
numexpr @ file:///work/perseverance-python-buildout/croot/numexpr_1698871031164/work
numpy @ file:///croot/numpy_and_numpy_base_1708638617955/work/dist/numpy-1.26.4-cp312-cp312-linux_x86_64.whl#sha256=b8e59fcb10ab071cbeded47aed247ddfa1c902d595848c27f82021340e226134
numpydoc @ file:///home/conda/feedstock_root/build_artifacts/numpydoc_1723472227761/work
openpyxl @ file:///croot/openpyxl_1721752957391/work
overrides @ file:///home/conda/feedstock_root/build_artifacts/overrides_1706394519472/work
packaging @ file:///croot/packaging_1720101850331/work
pandas @ file:///croot/pandas_1718308974269/work/dist/pandas-2.2.2-cp312-cp312-linux_x86_64.whl#sha256=92c518f7e09edd50b5caa5862636c51d6a29391803f3ada62f68aa52f27d8f92
pandocfilters @ file:///opt/conda/conda-bld/pandocfilters_1643405455980/work
parso @ file:///home/conda/feedstock_root/build_artifacts/parso_1712320355065/work
pathspec @ file:///home/conda/feedstock_root/build_artifacts/pathspec_1702249949303/work
patsy==0.5.6
pexpect @ file:///home/conda/feedstock_root/build_artifacts/pexpect_1706113125309/work
pickleshare @ file:///tmp/build/80754af9/pickleshare_1606932040724/work
pillow @ file:///home/conda/feedstock_root/build_artifacts/pillow_1719903548521/work
pkgutil_resolve_name @ file:///work/perseverance-python-buildout/croot/pkgutil-resolve-name_1707363250550/work
platformdirs @ file:///home/conda/feedstock_root/build_artifacts/platformdirs_1715777629804/work
pluggy @ file:///home/conda/feedstock_root/build_artifacts/pluggy_1713667077545/work
ply @ file:///work/perseverance-python-buildout/croot/ply_1698846188635/work
prometheus_client @ file:///home/conda/feedstock_root/build_artifacts/prometheus_client_1707932675456/work
prompt_toolkit @ file:///home/conda/feedstock_root/build_artifacts/prompt-toolkit_1718047967974/work
psutil @ file:///home/conda/feedstock_root/build_artifacts/psutil_1719274590885/work
ptyprocess @ file:///tmp/build/80754af9/ptyprocess_1609355006118/work/dist/ptyprocess-0.7.0-py2.py3-none-any.whl
pure_eval @ file:///home/conda/feedstock_root/build_artifacts/pure_eval_1721585709575/work
pycodestyle @ file:///croot/pycodestyle_1701910164456/work
pycparser @ file:///home/conda/feedstock_root/build_artifacts/pycparser_1711811537435/work
pydocstyle @ file:///work/perseverance-python-buildout/croot/pydocstyle_1698865417470/work
pyflakes @ file:///croot/pyflakes_1708962956225/work
Pygments @ file:///home/conda/feedstock_root/build_artifacts/pygments_1714846767233/work
pylint @ file:///home/conda/feedstock_root/build_artifacts/pylint_1721653950583/work
pylint-venv @ file:///croot/pylint-venv_1709837612550/work
pyls-spyder==0.4.0
pyparsing @ file:///home/conda/feedstock_root/build_artifacts/pyparsing_1724616129934/work
PyQt5==5.15.10
PyQt5-sip @ file:///work/perseverance-python-buildout/croot/pyqt-split_1698847927472/work/pyqt_sip
PyQtWebEngine==5.15.4
PySide6==6.7.2
PySocks @ file:///work/perseverance-python-buildout/croot/pysocks_1698845478203/work
pytest==8.3.2
python-dateutil @ file:///croot/python-dateutil_1716495738603/work
python-json-logger @ file:///work/perseverance-python-buildout/croot/python-json-logger_1698873656334/work
python-lsp-black @ file:///croot/python-lsp-black_1709232897954/work
python-lsp-jsonrpc @ file:///croot/python-lsp-jsonrpc_1708962872556/work
python-lsp-server @ file:///home/conda/feedstock_root/build_artifacts/python-lsp-server-meta_1711734797703/work
python-slugify @ file:///home/conda/feedstock_root/build_artifacts/python-slugify-split_1707425621764/work
pytoolconfig @ file:///croot/pytoolconfig_1701728692402/work
pytz @ file:///croot/pytz_1713974312559/work
pyxdg @ file:///home/conda/feedstock_root/build_artifacts/pyxdg_1654536799286/work
PyYAML @ file:///home/conda/feedstock_root/build_artifacts/pyyaml_1723018220704/work
pyzmq @ file:///home/conda/feedstock_root/build_artifacts/pyzmq_1724399090048/work
QDarkStyle @ file:///croot/qdarkstyle_1709231003551/work
qstylizer @ file:///home/conda/feedstock_root/build_artifacts/qstylizer_1713394158018/work/dist/qstylizer-0.2.3-py2.py3-none-any.whl#sha256=9f7b5d720ea5b7459972f570e09067f8286e9d00955e2b91ef2bd4d0b5edce1c
QtAwesome @ file:///home/conda/feedstock_root/build_artifacts/qtawesome_1711652164228/work
qtconsole @ file:///home/conda/feedstock_root/build_artifacts/qtconsole-base_1714942934316/work
QtPy @ file:///work/perseverance-python-buildout/croot/qtpy_1701733558435/work
referencing @ file:///home/conda/feedstock_root/build_artifacts/referencing_1714619483868/work
requests @ file:///croot/requests_1721410876868/work
rfc3339-validator @ file:///work/perseverance-python-buildout/croot/rfc3339-validator_1698873973408/work
rfc3986-validator @ file:///work/perseverance-python-buildout/croot/rfc3986-validator_1698874010100/work
rich @ file:///home/conda/feedstock_root/build_artifacts/rich-split_1709150387247/work/dist
rope @ file:///home/conda/feedstock_root/build_artifacts/rope_1711296293824/work
rpds-py @ file:///home/conda/feedstock_root/build_artifacts/rpds-py_1723039098249/work
Rtree @ file:///home/conda/feedstock_root/build_artifacts/rtree_1720728532544/work
ruff==0.6.2
scikit-bio==0.6.2
scikit-learn==1.5.1
scipy @ file:///home/conda/feedstock_root/build_artifacts/scipy-split_1724327061663/work/dist/scipy-1.14.1-cp312-cp312-linux_x86_64.whl#sha256=273d4a0dca8845537bb3b7a02f60b5c84296e444f352aff32292ded3941d0b0f
SecretStorage @ file:///home/conda/feedstock_root/build_artifacts/secretstorage_1695551734782/work
Send2Trash @ file:///home/conda/feedstock_root/build_artifacts/send2trash_1712584999685/work
setuptools==72.2.0
shiboken6==6.7.2
sip @ file:///work/perseverance-python-buildout/croot/sip_1698846977033/work
six @ file:///tmp/build/80754af9/six_1644875935023/work
sniffio @ file:///home/conda/feedstock_root/build_artifacts/sniffio_1708952932303/work
snowballstemmer @ file:///tmp/build/80754af9/snowballstemmer_1637937080595/work
sortedcontainers @ file:///tmp/build/80754af9/sortedcontainers_1623949099177/work
soupsieve @ file:///work/perseverance-python-buildout/croot/soupsieve_1698866207280/work
Sphinx @ file:///home/conda/feedstock_root/build_artifacts/sphinx_1722330119542/work
sphinxcontrib-applehelp @ file:///home/conda/feedstock_root/build_artifacts/sphinxcontrib-applehelp_1722244468291/work
sphinxcontrib-devhelp @ file:///home/conda/feedstock_root/build_artifacts/sphinxcontrib-devhelp_1722245025182/work
sphinxcontrib-htmlhelp @ file:///home/conda/feedstock_root/build_artifacts/sphinxcontrib-htmlhelp_1722248302725/work
sphinxcontrib-jsmath @ file:///home/ktietz/src/ci/sphinxcontrib-jsmath_1611920942228/work
sphinxcontrib-qthelp @ file:///home/conda/feedstock_root/build_artifacts/sphinxcontrib-qthelp_1722245860247/work
sphinxcontrib-serializinghtml @ file:///croot/sphinxcontrib-serializinghtml_1718201486943/work
spyder @ file:///home/conda/feedstock_root/build_artifacts/spyder_1718311762018/work
spyder-kernels @ file:///home/conda/feedstock_root/build_artifacts/spyder-kernels_1718123964987/work
stack-data @ file:///home/conda/feedstock_root/build_artifacts/stack_data_1669632077133/work
statsmodels==0.14.2
sympy @ file:///croot/sympy_1724938189289/work
tabulate @ file:///work/perseverance-python-buildout/croot/tabulate_1701748610754/work
terminado @ file:///home/conda/feedstock_root/build_artifacts/terminado_1710262609923/work
text-unidecode @ file:///Users/ktietz/demo/mc3/conda-bld/text-unidecode_1629401354553/work
textdistance @ file:///home/conda/feedstock_root/build_artifacts/textdistance_1721228410193/work
threadpoolctl==3.5.0
three-merge @ file:///tmp/build/80754af9/three-merge_1607553261110/work
tinycss2 @ file:///home/conda/feedstock_root/build_artifacts/tinycss2_1713974937325/work
toml @ file:///tmp/build/80754af9/toml_1616166611790/work
tomli @ file:///work/perseverance-python-buildout/croot/tomli_1698805555176/work
tomlkit @ file:///home/conda/feedstock_root/build_artifacts/tomlkit_1723631480657/work
tornado @ file:///croot/tornado_1718740109488/work
traitlets @ file:///croot/traitlets_1718227057033/work
types-python-dateutil @ file:///home/conda/feedstock_root/build_artifacts/types-python-dateutil_1724221107168/work
typing-utils @ file:///home/conda/feedstock_root/build_artifacts/typing_utils_1622899189314/work
typing_extensions @ file:///home/conda/feedstock_root/build_artifacts/typing_extensions_1717802530399/work
tzdata @ file:///home/conda/feedstock_root/build_artifacts/python-tzdata_1707747584337/work
ujson @ file:///croot/ujson_1717597529825/work
uri-template @ file:///home/conda/feedstock_root/build_artifacts/uri-template_1688655812972/work/dist
urllib3 @ file:///croot/urllib3_1718912636303/work
watchdog @ file:///croot/watchdog_1717166512516/work
wcwidth @ file:///home/conda/feedstock_root/build_artifacts/wcwidth_1704731205417/work
webcolors @ file:///home/conda/feedstock_root/build_artifacts/webcolors_1723294704277/work
webencodings @ file:///work/perseverance-python-buildout/croot/webencodings_1698866454420/work
websocket-client @ file:///croot/websocket-client_1715878298792/work
whatthepatch @ file:///home/conda/feedstock_root/build_artifacts/whatthepatch_1720999218266/work
wheel==0.44.0
wurlitzer @ file:///home/conda/feedstock_root/build_artifacts/wurlitzer_1718203955352/work
yapf @ file:///croot/yapf_1708964320665/work
zipp @ file:///home/conda/feedstock_root/build_artifacts/zipp_1724730934107/work
zstandard==0.23.0
